<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>啃食Angular之Provider</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-3.3/dist/css/bootstrap.css" rel="stylesheet">
    <link href="style/sourceCode.css" rel="stylesheet">
    <link href="favicon.ico" type="image/x-icon" rel=icon>
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
</head>

<!--<body ng-app="uncleApp" ng-controller="globeCtrl">-->
<body ng-app="uncleApp" ng-controller="mainCtrl">
<div class="jumbotron">
    <div class="container">
        <h1>啃食Angular之Provider</h1>

        <p data-toggle="modal" data-target="#myModal">为加深我们对angular的进一步理解，给大家准备了一些骨头，希望各位分头去啃，然后与大家分享。</p>

        <!--        <p><a class="btn btn-link btn-lg" href="#singleton" role="button">开始咬吧 &raquo;</a></p>-->

        <p>
            <button class="btn btn-link btn-lg" ng-click="toSingleton()">开始咬吧 &raquo;</button>
        </p>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img src="img/legend.png">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 id="singleton" data-toggle="modal"  data-target="#Silver">单例模式</h2>

            <p>服务具有唯一的名字，所以无论这个服务被注入到任何地方，对象始终只有一个实例。（银角大王举起葫芦说：我叫你一声，你敢答应吗）<a class="btn btn-link"
                                                                               role="button"
                                                                               href="http://baike.baidu.com/view/1859857.htm">啥意思？</a>
            </p>

        </div>
        <div class="col-md-4">
            <h2 data-toggle="modal" data-target="#A">依赖注入</h2>

            <p>你不必关心怎么创建一个实例，只需要声明自己需要哪个服务，就会自动送到你碗里来。（咦，这不是哆啦A梦的百宝袋么？）<a class="btn btn-link"
                                                                              role="button"
                                                                              href="http://www.html-js.com/article/1980">啥意思？</a>
            </p>

        </div>
        <div class="col-md-4">
            <h2  data-toggle="modal" data-target="#dishes">方式灵活</h2>

            <p>按照每个程序猿的编程习惯，你可以选择方式的菜谱来自定义服务。（Angular给你准备的5道菜：Value, Factory, Service, Provider and Constant）<a
                    class="btn btn-link" role="button" href="http://www.ngnice.com/docs/guide/providers">啥意思？</a></p>

        </div>
    </div>

    <div class="modal fade" id="A" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img src="img/A.jpg">
            </div>
        </div>
    </div>
    <div class="modal fade" id="Silver" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img src="img/Silver.jpg">
            </div>s
        </div>
    </div>
    <div class="modal fade" id="dishes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img src="img/dishes.jpg">
            </div>
        </div>
    </div>

    <hr>


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">往期剧情回顾</h3>
        </div>
        <div class="panel-body">
            <div class="page-header">
                <h1>MVC模式</h1>
                <img src="img/ngFramework.jpg" style="width: 70%"><br>
            </div>
            <div class="page-header">
                <h1>双向绑定</h1>
                <img src="img/twoBind.png" style="width: 70%"><br>
            </div>
            <div class="page-header">
                <h1>依赖注入</h1>
                <img src="img/DI.png" style="width: 70%"><br>
            </div>

        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">本期英雄介绍</h3>
        </div>
        <div class="panel-body">
            <h4>版本代号：1.3.7</h4>
            <h4>版本名称：leaky-obstruction</h4>
            <h4>发布时间：2014.12.16</h4>
            <h4>源码大小： 25811行 108568字 压缩后122KB</h4>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#anchorScrollProvider">
                        $anchorScrollProvider
                    </a>
                </h2>
            </div>
            <div id="anchorScrollProvider" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <pre class="code">function $AnchorScrollProvider() {

  var autoScrollingEnabled = true;

  this.disableAutoScrolling = function() {
    autoScrollingEnabled = false;
  };

  this.$get = ['$window', '$location', '$rootScope', function($window, $location, $rootScope) {
    var document = $window.document;

    function getFirstAnchor(list) {
      var result = null;
      Array.prototype.some.call(list, function(element) {
        if (nodeName_(element) === 'a') {
          result = element;
          return true;
        }
      });
      return result;
    }

    function getYOffset() {

      var offset = scroll.yOffset;

      if (isFunction(offset)) {
        offset = offset();
      } else if (isElement(offset)) {
        var elem = offset[0];
        var style = $window.getComputedStyle(elem);
        if (style.position !== 'fixed') {
          offset = 0;
        } else {
          offset = elem.getBoundingClientRect().bottom;
        }
      } else if (!isNumber(offset)) {
        offset = 0;
      }

      return offset;
    }

    function scrollTo(elem) {
      if (elem) {
        elem.scrollIntoView();

        var offset = getYOffset();

        if (offset) {

          var elemTop = elem.getBoundingClientRect().top;
          $window.scrollBy(0, elemTop - offset);
        }
      } else {
        $window.scrollTo(0, 0);
      }
    }

    function scroll() {
      var hash = $location.hash(), elm;

      // empty hash, scroll to the top of the page
      if (!hash) scrollTo(null);

      // element with given id
      else if ((elm = document.getElementById(hash))) scrollTo(elm);

      // first anchor with given name :-D
      else if ((elm = getFirstAnchor(document.getElementsByName(hash)))) scrollTo(elm);

      // no element and hash == 'top', scroll to the top of the page
      else if (hash === 'top') scrollTo(null);
    }

    if (autoScrollingEnabled) {
      $rootScope.$watch(function autoScrollWatch() {return $location.hash();},
        function autoScrollWatchAction(newVal, oldVal) {
          // skip the initial scroll if $location.hash is empty
          if (newVal === oldVal && newVal === '') return;

          jqLiteDocumentLoaded(function() {
            $rootScope.$evalAsync(scroll);
          });
        });
    }

    return scroll;
  }];
}
                    </pre>
                    <br>

                    <div class="alert alert-success" role="alert">终于读完了一段源码，想不想动手看看效果 -->
                        <button class="btn btn-success" ng-click="try1=!try1">
                            动手
                        </button>
                        <div role="alert" ng-show="try1">
                            <img src="img/try1.png">
                        </div>
                    </div>
                    <div class="alert alert-warning" role="alert" ng-show="try1">
                        <ul>
                            <li>
                                肖大叔提示1：你要的只是一件产品，别把生产产品的整个工厂都搬过来了！
                            </li>
                            <li>
                                肖大叔提示2：疑人不用，用人不疑。注入服务也是要承担风险的！
                            </li>
                            <li>
                                肖大叔提示3：锚个链接都这么麻烦，那个傻逼会用你，喵了个咪！（"#/"））
                            </li>
                            <li>
                                <img src="img/cat.jpg">
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#animateProvider">
                        $animateProvider
                    </a>
                </h2>
            </div>
            <div id="animateProvider" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <div class="alert alert-success" role="alert">这个内容太复杂了，不如直接玩游戏 -->
                        <button class="btn btn-success" ng-click="try2=!try2">
                            玩
                        </button>
                        <button class="btn btn-success" ng-click="try3=!try3">
                            再玩
                        </button>
                        <button class="btn btn-success" ng-click="finish2=!finish2">
                            玩完
                        </button>
                        <div class="animate-show" ng-show="try2">
                            <span class="glyphicon glyphicon-thumbs-up"></span> <img class="uncleAnimate"
                                                                                     src="img/wow-1.gif">
                        </div>
                        <div class="animate-show" ng-hide="try2">
                            <span class="glyphicon glyphicon-thumbs-down"></span><img class="uncleAnimate"
                                                                                      src="img/wow-2.gif">
                        </div>
                    </div>
                    <div class="alert alert-success" role="alert" ng-show="try3">
                        回家过年啦，你要去哪？<input type="text" ng-model="toCity"><br>
                        <ul>
                            <li ng-repeat="city in cities|filter:toCity" class="skew">{{city}}</li>
                        </ul>
                    </div>
                    <div class="alert alert-warning" role="alert" ng-show="finish2">
                        <ul>
                            <li>
                                肖大叔提示1：angular动画在应用启动的时候就会跑起来吗？ 不是的，它们都在等待着触发事件
                            </li>
                            <li>
                                肖大叔提示2：ngRepeat、ngView、ngIf等指令都可以加动画，至于具体对应那些动画，需要查询<a href="https://docs.angularjs.org/guide/animations">API</a> :<br>
                                <img src="img/animate.png">
                                
                                
                            </li>
                            <li>
                                肖大叔提示3：有木有觉得ngAnimate特别好玩？ 这其实是赛贝尔曲线的功劳！更多精彩点击：
                                <a href="http://www.nganimate.org/">http://www.nganimate.org/ </a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#compileProvider">
                        $compileProvider
                    </a>
                </h2>
            </div>
            <div id="compileProvider" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                     <pre class="code">
                        //提取几段代码来分析
function $CompileProvider($provide, $$sanitizeUriProvider) {
  var hasDirectives = {},
      Suffix = 'Directive',
      COMMENT_DIRECTIVE_REGEXP = /^\s*directive\:\s*([\w\-]+)\s+(.*)$/,
      CLASS_DIRECTIVE_REGEXP = /(([\w\-]+)(?:\:([^;]+))?;?)/,
      ALL_OR_NOTHING_ATTRS = makeMap('ngSrc,ngSrcset,src,srcset'),
      REQUIRE_PREFIX_REGEXP = /^(?:(\^\^?)?(\?)?(\^\^?)?)?/;
      var EVENT_HANDLER_ATTR_REGEXP = /^(on[a-z]+|formaction)$/;

      function parseIsolateBindings(scope, directiveName) {};

      this.directive = function registerDirective(name, directiveFactory){};

      this.aHrefSanitizationWhitelist = function(regexp){};

      this.imgSrcSanitizationWhitelist = function(regexp){};

       var debugInfoEnabled = true;
       this.debugInfoEnabled = function(enabled){};

       this.$get = [
            '$injector', '$interpolate', '$exceptionHandler', '$templateRequest', '$parse',
            '$controller', '$rootScope', '$document', '$sce', '$animate', '$$sanitizeUri',
             function($injector,   $interpolate,   $exceptionHandler,   $templateRequest,   $parse,
             $controller,   $rootScope,   $document,   $sce,   $animate,   $$sanitizeUri) {};
                     </pre>
                    <div class="alert alert-warning" role="alert">
                        <ul>
                            <li>
                                肖大叔提示1：调用var directive =
                                $injector.invoke(directiveFactory)得到一个对象，包括compile、priority、index、restrict等属性（定义指令）。
                            </li>
                            <li>
                                <label for="debug">测试调试信息：</label><input id="debug" ng-model="debug" >{{debug}}
                            </li>
                            <li>
                                肖大叔提示2：这个东西不仅有强身健体，抵御外敌的本领，还能做出放下武器，自废武功的动作，是有那么犀利哈！
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#controllerProvider">
                        $controllerProvider
                    </a>
                </h2>
            </div>
            <div id="controllerProvider" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">

                    <div class="alert alert-success" >
                        <div class="alert alert-success" role="alert">
                            再来看看回家过年的例子：<input type="text" ng-model="toCity"><br>
                            <ul>
                                <li ng-repeat="city in cities|filter:toCity" class="skew">{{city}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="alert alert-warning" role="alert">
                        <ul>
                            <li>
                                肖大叔提示1：控制器还可以绑定到window，这下子涨姿势了！
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#filterProvider">
                        $filterProvider
                    </a>
                </h2>
            </div>
            <div id="filterProvider" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <div class="alert alert-info" role="alert">
                        现实中的过滤器是这样的：
                        <button class="btn btn-success" ng-click="try4=!try4">
                            工业化
                        </button>
                        <br>
                        <img src="img/filter.jpg" ng-show="try4"><br><br>
                        我们可以简化想象成酱紫：
                        <button class="btn btn-success" ng-click="try5=!try5">
                            抽象化
                        </button>
                        <br>
                        <img src="img/filter2.jpg" ng-show="try5"><br>
                    </div>
                    而写成代码，就成为这个鬼样了：
                    <button class="btn btn-success" ng-click="try6=!try6">
                        丑陋化
                    </button>
                    <br>
                     <pre class="code" ng-show="try6">
$FilterProvider.$inject = ['$provide'];
function $FilterProvider($provide) {
  var suffix = 'Filter';
  function register(name, factory) {
    if (isObject(name)) {
      var filters = {};
      forEach(name, function(filter, key) {
        filters[key] = register(key, filter);
      });
      return filters;
    } else {
      return $provide.factory(name + suffix, factory);
    }
  }
  this.register = register;

  this.$get = ['$injector', function($injector) {
    return function(name) {
      return $injector.get(name + suffix);
    };
  }];
                          register('currency', currencyFilter);
  register('date', dateFilter);
  register('filter', filterFilter);
  register('json', jsonFilter);
  register('limitTo', limitToFilter);
  register('lowercase', lowercaseFilter);
  register('number', numberFilter);
  register('orderBy', orderByFilter);
  register('uppercase', uppercaseFilter);
}
                     </pre>
                    <div class="alert alert-warning" role="alert">
                        <ul>
                            <li>
                            <!--    肖大叔提示1：{{'纳尼？擦！你特么在逗我，我和夫人只是一介凡人，怎么会有这么牛叉的儿子？'|harmony}}-->
                            </li>
                            <li>
                                肖大叔提示2：肖会只是一只程序猿，而非国家政要，别河蟹我啊(┬＿┬)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#httpProvider">
                        $httpProvider
                    </a>
                </h2>
            </div>
            <div id="httpProvider" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    互联网时代，我们必须了解一些数据请求：
                    <div class="alert alert-info" role="alert">
                        <img src="img/http.png"><br>
                    </div>
                     <pre class="code">
var defaults = this.defaults = {
    // transform incoming response data
    transformResponse: [defaultHttpResponseTransform],

    // transform outgoing request data
    transformRequest: [function(d) {
      return isObject(d) && !isFile(d) && !isBlob(d) && !isFormData(d) ? toJson(d) : d;
    }],

    // default headers
    headers: {
      common: {
        'Accept': 'application/json, text/plain, */*'
      },
      post:   shallowCopy(CONTENT_TYPE_APPLICATION_JSON),
      put:    shallowCopy(CONTENT_TYPE_APPLICATION_JSON),
      patch:  shallowCopy(CONTENT_TYPE_APPLICATION_JSON)
    },

    xsrfCookieName: 'XSRF-TOKEN',
    xsrfHeaderName: 'X-XSRF-TOKEN'
  };

this.$get = ['$httpBackend', '$browser', '$cacheFactory', '$rootScope', '$q', '$injector',
function($httpBackend, $browser, $cacheFactory, $rootScope, $q, $injector) {};

function $http(requestConfig){};
                     </pre>
                    <div class="alert alert-info" role="alert">
                        玩一下useApplyAsync这个方法
                        <button class="btn btn-success" ng-click="getData()">
                            package.json
                        </button>
                        <br>
                        package:{{package}}<br>
                    </div>

                    <div class="alert alert-warning" role="alert">
                        <ul>
                            <li>
                                肖大叔提示1：最底层还是用js的XMLHttpRequest对象，是否想到了当年红遍一时的<a ng-click="ajax=!ajax">ajax技术</a>？
                            </li>
                            <li ng-show="ajax">
                                <img src="img/xmlhttprequest.gif">
                            </li>
                            <li>
                                肖大叔提示2：再往上层封装了$resource，这是一种RESTful的方式，好像又更进一步了有木有？
                            </li>
                            <li>
                                肖大叔提示3：$httpProvider.useApplyAsync是1.3的新特性，阻止自动渲染，适合在大应用使用
                            </li>
                            <li>
                                肖大叔提示4：Rick，为嘛你的实验不成功呢？ 凡人，向大神求助吧！
                                <button class="btn btn-success" ng-click="try7=!try7">
                                    膜拜
                                </button>
                                <img src="img/applyAsync.png" ng-show="try7">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#interpolateProvider">
                        $interpolateProvider
                    </a>
                </h2>
            </div>
            <div id="interpolateProvider" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <div class="alert alert-info" role="alert">
                        哈哈，下面我们看个很有意思的东东 -- 篡改！
                        <div class="alert alert-info" role="alert">
                            <img src="img/kimjongun.jpg"><br>
                        </div>

                        <br> <br>
                        But，我们不玩二师兄和金大帅，我们篡改angular语法，如： <br>
                        肖肖hello会会
                    </div>


                    <div class="alert alert-warning" role="alert">
                        <ul>
                            <li>尼玛，这篡改简直毁三观啊！吓尿了！！</li>
                            <li>非程序猿 请勿模仿</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#logProvider">
                        $logProvider
                    </a>
                </h2>
            </div>
            <div id="logProvider" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <pre class="code">
function $LogProvider() {
  var debug = true,
      self = this;

this.$get = ['$window', function($window) {
    return {
      log: consoleLog('log'),
      info: consoleLog('info'),
      warn: consoleLog('warn'),
      error: consoleLog('error'),
      debug: (function() {
        var fn = conso
        return function() {
          if (debug) {
            fn.apply(self, arguments);
          }
        };
      }())
    };

function formatError(arg) {
      if (arg instanceof Error) {
        if (arg.stack) {
          arg = (arg.message && arg.stack.indexOf(arg.message) === -1)
              ? 'Error: ' + arg.message + '\n' + arg.stack
              : arg.stack;
        } else if (arg.sourceURL) {
          arg = arg.message + '\n' + arg.sourceURL + ':' + arg.line;
        }
      }
      return arg;
    }

    function consoleLog(type) {
      var console = $window.console || {},
          logFn = console[type] || console.log || noop,
          hasApply = false;

      try {
        hasApply = !!logFn.apply;
      } catch (e) {}

      if (hasApply) {
        return function() {
          var args = [];
          forEach(arguments, function(arg) {
            args.push(formatError(arg));
          });
          return logFn.apply(console, args);
        };
      }


      return function(arg1, arg2) {
        logFn(arg1, arg2 == null ? '' : arg2);
      };
    }
                    </pre>
                    <div class="alert alert-info" role="alert">
                        向大家打个招呼吧
                        <button class="btn btn-success" ng-click="saySomething()">
                            Hi~
                        </button>
                    </div>
                    <div class="alert alert-warning" role="alert">
                        <ul>
                            <li>肖大叔提示1：只是借用了console的方法，偷点东西来不算啥本事吧？</li>
                            <li>肖大叔提示2：你要是能劫持系统的控制台，不让它说话，那你丫的才够狠！（可惜不能）</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#rootScopeProvider">
                        $rootScopeProvider
                    </a>
                </h2>
            </div>
            <div id="rootScopeProvider" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <pre class="code">
                        //初始化变量
                        var TTL = 10;
                        var $rootScopeMinErr = minErr('$rootScope');
                        var lastDirtyWatch = null;
                        var applyAsyncId = null;

                        //构造子函数
                        this.$get = ['$injector', '$exceptionHandler', '$parse', '$browser',
                        function($injector, $exceptionHandler, $parse, $browser) {

                        //很重要的一个模型
                        function Scope() {
                        this.$id = nextUid();
                        this.$$phase = this.$parent = this.$$watchers =
                        this.$$nextSibling = this.$$prevSibling =
                        this.$$childHead = this.$$childTail = null;
                        this.$root = this;
                        this.$$destroyed = false;
                        this.$$listeners = {};
                        this.$$listenerCount = {};
                        this.$$isolateBindings = null;
                        }

                        Scope.prototype = {
                        constructor: Scope,

                        $new: function(isolate, parent){},
                        $watch: function(watchExp, listener, objectEquality){},
                        $digest: function(){},
                        $destroy: function(){},
                        $eval: function(expr, locals){},
                        $apply: function(expr){},
                        $on: function(name, listener){},
                        $emit: function(name, args){},
                        $broadcast: function(name, args){}
                        //还有好多好多常用东西，原来都定义在这里了呀！
                        }

                        }

                    </pre>
                    <div class="alert alert-warning" role="alert">
                        <ul>
                            <li>肖大叔提示1：射人先射马，擒贼先擒王，想找掌控大局就要捉住它的老根！</li>
                            <li>肖大叔提示2：Increasing the TTL could have performance implications, so you should not change
                                it without proper justification.
                            </li>
                            <li>肖大叔提示3：说人话！ 好吧，通俗来讲，提高这个数值可能会卡死你，所以没有特殊的需要最好不要动digestTtl这个配置！</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>




        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#sceProvider">
                        $sceProvider
                    </a>
                </h2>
            </div>
            <div id="sceProvider" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <div class="alert alert-info" role="alert">
                        急急如律令，图片拿给我！
                        <button class="btn btn-success" ng-click="getPicture()">变</button>
                        {{myPic.name}} -- > <span ng-bind-html="myPic.img"></span>
                    </div>
                    <div class="alert alert-warning" role="alert">
                        <ul>
                            <li>肖大叔提示1：跨域是一个很蛋疼了问题了，折磨了求求同学好几个月</li>
                            <li>肖大叔提示2：按照文档说明，不仅HTML，连js和CSS也能够被信任，那么半脱机版是不是要轻松多了？</li>
                            <li>
                                （之前江苏农行的事情让大家很蛋疼吧？）<br>
                                <img src="img/sce.png" style="width: 100%">
                            </li>
                            <li>除此之外，还可以通过消毒的方式，减轻烦恼：这就是ngSanitize要做的事啦！ <(￣▽￣)> 哇哈哈…</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#extra">
                        番外
                    </a>
                </h2>
            </div>
            <div id="extra" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <div class="alert alert-info" role="alert">
                        <h3>ngLocale模块：高大上！</h3>
                        <img src="img/i18n.png"><br>
                      <i>  （插播广告：五星红旗 迎风飘扬 胜利歌声多么嘹亮~~）</i><br>
                        货币：{{ 1000000 | currency }}<br>
                        数字：{{ 1000000 | number }}<br>
                        默认日期：{{ nowTime | date }}<br>
                        自定义日期：{{ nowTime | date:'yyyy-MM-dd HH:mm:ss' }}<br>
                    </div>
                    <div class="alert alert-info" role="alert">
                        <h3>$q服务：神马是promise?</h3>
                        <hr>
                        <!-- http://www.shaoqun.com/a/89599.aspx -->
                        <!-- Don’t call me, I’ll call you -->
                        <img src="img/promise.png">
                        <hr>
                        说得跟真的一样！你特么在逗我！这种情况本可用callback机制轻松解决掉，就像这样：<button class="btn btn-primary"  ng-click="try9=!try9">回调</button>
                        <pre class="code" ng-show="try9">
                            step1(function (value1) {
                                step2(value1, function(value2) {
                                    step3(value2, function(value3) {
                                        step4(value3, function(value4) {
                                        // Do something with value4
                                        });
                                    });
                                });
                            });
                        </pre>

                        <h4>But!<button class="btn btn-primary"  ng-click="try10=!try10">你不懂我/我不怪你 by余秋雨</button></h4>
                        <img src="img/understand.jpg" ng-show="try10">
                        <br><br>
                        <h4>优雅、简洁、易维护</h4>
                        <pre class="code">
                            Q.fcall(promisedStep1)
                            .then(promisedStep2)
                            .then(promisedStep3)
                            .then(promisedStep4)
                            .then(function (value4) {
                                 // Do something with value4
                            })
                            .catch(function (error) {
                                // Handle any error from all above steps
                            })
                            .done();
                        </pre>
                        <hr>
                        好啦，别生气o(∩_∩)o 我都听你就是了~~ <a href="steps/hey.html">进入Q世界</a> <br>
                        <button class="btn btn-primary" ng-click="try11=!try11">$q VS Q </button>
                        <div ng-show="try11">
                            <!-- 取其精华，去其糟粕-->
                            <ol>
                                <li>
                                    $q is integrated with the $rootScope.Scope Scope model observation mechanism in angular, which means faster propagation of resolution or rejection into your models and avoiding unnecessary browser repaints, which would result in flickering UI.
                                </li>
                                <li>
                                    Q has many more features than $q, but that comes at a cost of bytes. $q is tiny, but contains all the important functionality needed for common async tasks.
                                </li>
                            </ol>
                        </div>


                    </div>
                    <div class="alert alert-warning" role="alert">
                        <ul>
                            <li><img src="img/taiji.jpg"><br>
                                易有太极，是生两仪，两仪生四象，四象生八卦！-- 跟上时代的脚步，与国际接轨。
                            </li>
                            <li>
                                <img src="img/then.png">
                            </li>
                            <li>
                                "With a promise library, you can flatten the pyramid." -- Kris Kowal
                            </li>
                            <li>
                                有了这个承诺库，你可以铲平金字塔！ -- 外国人都这么狂妄？！
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">曲终人散</h3>
        </div>
        <div class="panel-body">
            终于啃完了， 是不是要随手转发正能量？
            <button class="btn btn-success" ng-click="try8=!try8">好，打鸡血</button>
            <br>
            <img src="img/useNG.jpeg" ng-show="try8">

        </div>
    </div>

</div>
<footer>
    <br> <br> <br> <br>

    <div style="text-align: center"> &copy; 2014 <a ng-href="{{cat}}">肖大叔的小巫</a>
    </div>
</footer>

<script src="bootstrap-3.3/jquery-1.11.1.min.js"></script>
<script src="bootstrap-3.3/dist/js/bootstrap.js"></script>
<script src="angular-1.3.7/angular.js"></script>
<script src="angular-1.3.7/angular-animate.js"></script>
<!--<script src="angular-1.3.7/ngLocale/angular-locale_zh-cn.js"></script> &lt;!&ndash; 官方语言  &ndash;&gt;
<script src="angular-1.3.7/ngLocale/angular-locale_zh-tw.js"></script>&lt;!&ndash; 中国台湾  &ndash;&gt;
<script src="angular-1.3.7/ngLocale/angular-locale_zh-hans-hk.js"></script>&lt;!&ndash; 繁体中文  &ndash;&gt;
<script src="angular-1.3.7/ngLocale/angular-locale_ja-jp.js"></script>&lt;!&ndash; 岛国？苍老师？  &ndash;&gt;
<script src="angular-1.3.7/ngLocale/angular-locale_ko-kr.js"></script>&lt;!&ndash; 长腿思密达 &ndash;&gt;-->

<script src="scripts/globeCtrl.js"></script>
<script src="scripts/app10.js"></script>

</body>
</html>
