body {
    font-size: 16px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    color: inherit;
}

.code {
    background: #000000;
    border: gray 1px solid;
    border-radius: 10px;
    color: white;
}

/************ 简单的动画**********/
.animate-show {
    -webkit-transition: all linear 2s;
}
.animate-show.ng-add.ng-add-active,
.animate-show.ng-hide.ng-hide-active {
    opacity: 1;
}

.animate-show.ng-hide {
    opacity: 0;
}
/************ 简单的动画**********/

/************ 稍微复杂的动画**********/
.skew.ng-enter,
.skew.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.skew.ng-leave.skew.ng-leave-active,
.skew.ng-enter {
    -webkit-transform: skewX(45deg) skewY(30deg);
    -moz-transform: skewX(45deg) skewY(30deg);
    -ms-transform: skewX(45deg) skewY(30deg);
    -o-transform: skewX(45deg) skewY(30deg);
    transform: skewX(45deg) skewY(30deg);
    opacity: 0;
    height: 0;
}

.skew.ng-enter.skew.ng-enter-active,
.skew.ng-leave {
    -webkit-transform: skewX(0deg) skewY(0deg);
    -moz-transform: skewX(0deg) skewY(0deg);
    -ms-transform: skewX(0deg) skewY(0deg);
    -o-transform: skewX(0deg) skewY(0deg);
    transform: skewX(0deg) skewY(0deg);
    opacity: 1;
    height: 30px;
}

/************ 稍微复杂的动画**********/
/*
具体规范，请参考：https://docs.angularjs.org/guide/animations
*/